<section class="movies-page" [ngClass]="{'dark-background': isModalShown}">
  <div>
    <div>ExampleURL - http://www.imdb.com/title/tt0460649/</div>
    <div class="master-background" #masterContainer>Select background color for movies
      <input type="color" #colorPicker (input)="setMasterColor(colorPicker)">
    </div>
    <button type="button" (click)="isModalShown = true;" class="add-button" pButton label="Add Movie button"></button>
  </div>

  <div class="movies-list">
    <ng-container *ngFor="let movie of moviesList">
      <app-movie-item [movieItem]="movie" (deleteMovie)="onMovieDelete($event)" (selectColor)="onSelectColor()">
      </app-movie-item>
    </ng-container>
  </div>
</section>

<app-add-movie-dialog *ngIf="isModalShown" #addMovie (movieAdd)="addMovieToList($event)"
  (closeModal)="isModalShown = false;">
</app-add-movie-dialog>