.movie-item {
  padding: 1rem;
  border: 1px solid #ccc;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);

  .delete-icon {
    display: block;
    color: #000;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    float: right;
    font-size: 20px;

    &::before {
      content: "\00d7";
    }
  }

  ::ng-deep {
    .ui-colorpicker {
      display: inline-block;

      .ui-colorpicker-preview {
        width: 2rem;
        margin-left: 1rem;
      }
    }
  }

  .title {
    font-weight: 600;
  }
}
